#title {
    background-color: darkturquoise;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border-color: darkgray;

}

#searchNav {
    background-color: lightgray;
    border-radius: 10px;
    border: 2px;
    border-color: green;
}

#searchBtn {
    margin-top: 10px;
    background-color: white;
}

#currentWeather {
    border-radius: 10px;
    background-color: lightskyblue;
    margin-left: 0px;
}

#searchHistory {
    background-color: lightyellow;
    border-radius: 10px;
    margin-top: 20px;
}

#fiveD-FCST {
    background-color: lightpink;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 0px;
}

#fiveDayFCST {
    background-color: lightpink;
    border-radius: 10px;
    border-color: lightpink;
}

.card-body {
    background-color: lightpink;

}